body {
    margin: 0px;
    padding: 0px;
    

}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
    background-color: #000;
}

img {
	display: block;
	max-width: 100%;
}

.cabeca{
    background: rgb(17, 17, 17);
    padding:20px;
}


